# =====================
# Virtual Environments
# =====================
env/
venv/
.venv/

# =====================
# Environment variables
# =====================
.env

# =====================
# Django stuff
# =====================
__pycache__/
*.pyc
db.sqlite3

# =====================
# Media files
# =====================
media/

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
