{% extends 'base.html' %}

{% block title %}خروج{% endblock %}

{% block content %}
<div class="form-container">
    <div class="card text-center">
        <h2 class="mb-4">با موفقیت خارج شدید</h2>
        <p>از خرید شما متشکریم. امیدواریم باز هم از فروشگاه ما دیدن کنید.</p>
        
        <div style="margin-top: 30px;">
            <a href="{% url 'home' %}" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            <a href="{% url 'login' %}" class="btn btn-success">ورود مجدد</a>
        </div>
    </div>
</div>
{% endblock %}